.head {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    color: aliceblue;

}


body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header2 {
    display: flex;
    margin-right:40px ;
}

.headerhome {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

 .left {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.body {
    font-size: 14px;
    /* display: flex; */
    background-color: #ecf0f5;
    font-weight: 700;
    justify-items: center;
    display: inline-block;
    margin-top: 52px;
    position: absolute;

}



.bodycontain li a{
    display: block;
    color: #000 ;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    width: 200px;
}
@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
        
    }
}



.headincludedcontain:hover{
    --growth-from: 0.4;
    --growth-to: 1;
    z-index: 1;
    animation: growth linear 0.4s;
}

.bodycontain{
    list-style: none;
    font-weight: 200;
    opacity: 0.9;
    display: inline-block;
    margin: 0px 0 -20px -25px;
    padding: 0;
    text-align: center;
}


.bodycontain li:hover a{
    background-color: #000;
    color: aliceblue;
    padding: 10px;
    opacity: 1;
    padding: 0;
    z-index: 1;
    cursor: pointer;
    
}
.headerbody {
    margin: 17px 0;
}
.headertext {
    margin-bottom: 4px;
    font-weight: 700;
    opacity: 1;
    color: black;
    
}

/*  */
.includedcontain {
    background-color: #00c0ef;
    width: 204px;
    position: relative;
    text-align: center;
    height: 120px;
    color: beige;
    margin-top: 20px;
    border-radius: 2px;
    outline: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.headincludedcontain{
    padding-top: 2px;
}

.includedcontain .footincludedcontain{
    background-color: #4b8a45;
    position: absolute;
    height: 27px;
    width: 100%;
    bottom: 0px;
    line-height: 0px;
    opacity: 0.9;
    overflow: hidden;
    outline: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.includedcontain .footincludedcontain:hover{
    opacity: 1;
    color: beige;
    cursor: pointer;
}

.includedcontain .containbox{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

.includedcontain .boxheadcontain{
    font-size: 23px;
}

.headerchart {
    position: absolute;
    margin-bottom: 10px;
}


.line {
    border-top: 2px solid #00c0ef;
    margin: 66px 0 0 5px;
    background-color: #ffffff;
}
.home-product-itemchart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bodychart {
    margin-top: 50px;
    margin-left: 60px;
    font-size: 12px;
}

.lineflex {
}

.linechart {
    border-top: 2px solid #080808;
    /* margin: 0 0 0 5px; */
}

.container {
    width: 700px;
}

